<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="symbiote.h2020.eu.sampleapp">

  <supports-screens
      android:anyDensity="true"
      android:largeScreens="true"
      android:normalScreens="true"
      android:smallScreens="true"
      android:xlargeScreens="true" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@drawable/iot4ed"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".MainActivity"
        android:configChanges="orientation"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".Map_Second"
        android:configChanges="orientation"
        android:label="@string/Limassol"
        android:screenOrientation="portrait" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDUa-MnXhApj3dZODXyNo7_T13QiubYXHY" />
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <activity
        android:name=".Charts"
        android:configChanges="orientation"
        android:label="@string/airquality"
        android:screenOrientation="portrait" />
    <activity
        android:name=".Colors"
        android:configChanges="orientation"
        android:label="@string/specialName"
        android:screenOrientation="portrait" />
    <activity
        android:name=".Limassol"
        android:configChanges="orientation"
        android:label="@string/Limassol"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".Zagreb"
        android:configChanges="orientation"
        android:label="@string/Zagreb"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".Vienna"
        android:configChanges="orientation"
        android:label="@string/Vienna"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".Lim"
        android:configChanges="orientation"
        android:label="Limassol: 03"
        android:screenOrientation="portrait" />
    <activity
        android:name=".About"
        android:configChanges="orientation"
        android:label="@string/aboutUs"
        android:screenOrientation="portrait" />
    <activity
        android:name=".Map_Third"
        android:configChanges="orientation"
        android:label="@string/Zagreb"
        android:screenOrientation="portrait" />
    <activity
        android:name=".Map_First"
        android:configChanges="orientation"
        android:label="@string/Vienna"
        android:screenOrientation="portrait" />
    <activity
        android:name=".Comparison"
        android:configChanges="orientation"
        android:label="PM2.5"
        android:screenOrientation="portrait" />
    <activity
        android:name=".PM10"
        android:configChanges="orientation"
        android:label="PM10"
        android:screenOrientation="portrait" />
    <activity
        android:name=".NO2"
        android:configChanges="orientation"
        android:label="NO2"
        android:screenOrientation="portrait" />
    <activity
        android:name=".ViennaPM25"
        android:configChanges="orientation"
        android:label="@string/viennasens1"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ViennaPM10"
        android:configChanges="orientation"
        android:label="@string/viennasens2"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ViennaNO2"
        android:configChanges="orientation"
        android:label="@string/viennasens3"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ZagrebPM10"
        android:configChanges="orientation"
        android:label="@string/zagrebsens2"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ZagrebPM25"
        android:configChanges="orientation"
        android:label="@string/zagrebsens1"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ZagrebNO2"
        android:configChanges="orientation"
        android:label="@string/zagrebsens3"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".Historical"
        android:configChanges="orientation"
        android:label="Ιστορικά Δεδομένα Λεμεσού"
        android:screenOrientation="portrait" />
    <activity
        android:name=".HVienna"
        android:configChanges="orientation"
        android:label="Ιστορικά Δεδομένα Βιέννης"
        android:screenOrientation="portrait" />
    <activity
        android:name=".Hzagreb"
        android:configChanges="orientation"
        android:label="Ιστορικά Δεδομένα Ζάγκρεμπ"
        android:screenOrientation="portrait" />
    <activity
        android:name=".ViennaSO"
        android:configChanges="orientation"
        android:label="@string/viennasens4"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ViennaOZ"
        android:configChanges="orientation"
        android:label="@string/viennasens5"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".Vienna0Z2"
        android:configChanges="orientation"
        android:label="@string/viennasens6"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ViennaS022"
        android:configChanges="orientation"
        android:label="@string/viennasens7"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ViennaNitro2"
        android:configChanges="orientation"
        android:label="@string/viennasens8"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ZagrebSulphur"
        android:configChanges="orientation"
        android:label="@string/zagrebsens4"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ZagrebSulphur2"
        android:configChanges="orientation"
        android:label="@string/zagrebsens5"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ZagrebOzone"
        android:configChanges="orientation"
        android:label="@string/zagrebsens6"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ZagrebOzone2"
        android:configChanges="orientation"
        android:label="@string/zagrebsens7"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".ZagrebNitrogen2"
        android:configChanges="orientation"
        android:label="@string/zagrebsens8"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.CustomTheme" />
    <activity
        android:name=".Sulphur"
        android:configChanges="orientation"
        android:label="S02"
        android:screenOrientation="portrait" />
    <activity
        android:name=".Ozone"
        android:configChanges="orientation"
        android:label="03"
        android:screenOrientation="portrait" />
    <activity
        android:name=".Weeks"
        android:label="@string/historical1"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".NO21"
        android:label="NO2 - 1 - 8/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".Sulphur1"
        android:label="SO2 - 1 - 8/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".PM101"
        android:label="PM10 - 1 - 8/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".PM251"
        android:label="PM25 - 1 - 8/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".O31"
        android:label="O3 - 1 - 8/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".O32"
        android:label="O3 - 9 - 15/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".O33"
        android:label="O3 - 16 - 22/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".O34"
        android:label="O3 - 23 - 31/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".NO22"
        android:label="ΝO2 - 9 - 15/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".NO23"
        android:label="ΝO2 - 16 - 22/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".NO24"
        android:label="ΝO2 - 23 - 31/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".PM102"
        android:label="PM10 - 9 - 15/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".PM103"
        android:label="PM10 - 16 - 22/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".PM104"
        android:label="PM10 - 23 - 31/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".PM252"
        android:label="PM25 - 9 - 15/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".PM253"
        android:label="PM25 - 16 - 22/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".PM254"
        android:label="PM25 - 23 - 31/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".Sulphur3"
        android:label="SO2 - 16 - 22/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".Sulphur4"
        android:label="SO2 - 23 - 31/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"/>
    <activity android:name=".Sulphur2"
        android:label="SO2 - 9 - 15/8/2018"
        android:configChanges="orientation"
        android:screenOrientation="portrait"></activity>
  </application>

</manifest>